

<div>
  接单网点:
  <ejs-dropdownlist
    id='games' #sample
    placeholder='请选择接单网点' [dataSource]='logistticstores'
    [popupHeight]='200'
    [fields]='logisticstorefiled' ></ejs-dropdownlist>

  <div style="margin-top:10px">

    <button ejs-button cssClass="e-info mat-width"   (click)="settingdepotId()" >设置库位</button>
</div>
<div>
  查询查询
  <label>
    <ejs-textbox  [(value)]="searchcontent" placeholder="库位名称" floatLabelType="Never"></ejs-textbox>
  </label>
  <button ejs-button cssClass="e-info mat-width"   (click)="searchdepot()" >查询</button>
</div>


<ejs-grid #grid>
  <e-columns >

    <e-column type='checkbox' width='50'></e-column>
    <e-column field='DepotAuthorizeId' headerText='授权编号' [hidden]="true" width=170></e-column>
    <e-column field='DepotId' headerText='库位编号'  width=170></e-column>
    <e-column field='DepotName' headerText='库位名称'  width=170></e-column>
    <e-column field='StoreName' headerText='提货网点'  width=170></e-column>
    <e-column field='Address' headerText='地址'  width=170></e-column>
  </e-columns>
</ejs-grid>
